/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .roboto-<uniquifier > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #efefef;
}
header {
  background-color: white;
  border-bottom: solid 1px #f3735f;
  margin-bottom: 60px;
  /* height: 60px; */
}
header .container {
  width: 1024px;
  height: 100%;
  border: 1px solid rebeccapurple;
}

header .container img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 1024px;
  margin: auto;
}
section {
  background-color: white;
  padding-top: 60px;
  padding-left: 30px;
  border-radius: 20px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
  font-family: "roboto";
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}

.time-remain {
  background-color: #8a98b1;
  color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  font-family: "roboto";
}
img {
  margin-top: 60px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
ul {
  list-style: disc;
  margin-left: 15px;
}

.baseline {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;
  text-decoration: underline;
}

.receipe {
  margin-bottom: 40px;
  /* border: solid 1px green; */
}
