/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/* .roboto-<uniquifier > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #efefef;
}
.container {
  width: 1024px;
  margin: auto;
}
section {
  background-color: white;
  padding-top: 60px;
  padding-left: 30px;
  border-radius: 20px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
  /* épaisseur du trait */
  text-align: center;
  color: #393c6c;
}
h2 {
  /* épaisseur du trait */
  font-size: 30px;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  /* épaisseur du trait */
  color: #393c6c;
  line-height: 22px;
}
